/* 전체 사이트 공통 스타일 */
:root {
    --gnbHeight: 86px;
    --gnbAnimSpeed: .3s;
    --gnbFixedTopBg: #525572;
    --gnbFixedBg: rgba(70, 73, 95, .98);
    --darkOnOffBg: #E9EAF0;
    --btnLight: #71748C;
    --btnDark: transparent;
    --gnbEaseing: cubic-bezier(0.85, 0, 0.15, 1);
}

html.dark:root {
    --gnbColor: #F7F7F7;
    --darkOnOffBg: #252629;
    --btnLight: transparent;
    --btnDark: #E9EAF0;
    --footerSelectText: #FDFDFF;
    --footerSelectBg: #46474E;
    --footerBolder: rgba(184, 187, 218, 0.30);
    --footerLogo: url(https://lwi.nexon.com/maplestory/common/footer_logo.png);
    --footerSnsColor: #C6C6C6;
}

@font-face {
    font-family: "NEXON Lv1 Gothic";
    src: url("../font/NEXON_Lv1_Gothic/NEXON Lv1 Gothic_OTF_TTF/TTF/NEXONLv1GothicRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic";
    src: url("../font/NEXON_Lv1_Gothic/NEXON Lv1 Gothic_OTF_TTF/TTF/NEXONLv1GothicBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic";
    src: url("../font/NEXON_Lv1_Gothic/NEXON Lv1 Gothic_OTF_TTF/TTF/NEXONLv1GothicLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv2 Gothic";
    src: url("../font/NEXON_Lv2_Gothic/TTF/NEXON Lv2 Gothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv2 Gothic";
    src: url("../font/NEXON_Lv2_Gothic/TTF/NEXON Lv2 Gothic Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv2 Gothic";
    src: url("../font/NEXON_Lv2_Gothic/TTF/NEXON Lv2 Gothic Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv2 Gothic";
    src: url("../font/NEXON_Lv2_Gothic/TTF/NEXON Lv2 Gothic Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    text-decoration: none;
}

body {
    font-family: "NEXON Lv1 Gothic", "Malgun Gothic", sans-serif;
    line-height: 1.6;
    color: #333;
}

a { color: inherit; }
