@font-face {
	font-family: 'PretendardVariable';
	font-style: normal;
	font-weight: 400;
	src: url(https://lwi.nexon.com/fonts/PretendardVariable.woff2) format('woff2'),
		url(https://lwi.nexon.com/fonts/PretendardVariable.ttf) format('truetype');
}

@font-face {
	font-family: 'PretendardVariable';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(https://lwi.nexon.com/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(https://lwi.nexon.com/fonts/Pretendard-SemiBold.woff) format('woff');
}

/* 기본 */
:root {
	--gnbColor: #F7F7F7;
	--gnbHeight: 86px;
	--gnbAnimSpeed: .3s;
	--gnbFixedTopBg : #525572;
	--gnbFixedBg : rgba(70, 73, 95, .98);
	--darkOnOffBg : #E9EAF0;
	--btnLight : #71748C;
	--btnDark : transparent;
	--footerSelectText : #FDFDFF;
	--footerSelectBg : #46474E ;
	--footerBolder : rgba(184, 187, 218, 0.30);
	--footerLogo : url('https://lwi.nexon.com/maplestory/common/footer_logo.png');
	--footerSnsColor : #C6C6C6;

	--gnbEaseing : cubic-bezier(0.85, 0, 0.15, 1);
}

/* index페이지 */
html.index:root {
	--gnbColor: #222;
	/* --gnbHeight: 86px; */
	--footerSelectText : #3D3F4C;
	--footerSelectBg : #FFF;
	--footerBolder : rgba(72, 75, 101, 0.30);
	--footerLogo : url('https://lwi.nexon.com/maplestory/common/footer_logo_bl.png');
	--footerSnsColor : #A9ABBD;
}

/* dark모드 */
html.dark:root {
	--gnbColor: #F7F7F7;
	/* --gnbFixedBg : #32333B; */
	--darkOnOffBg : #252629;
	--btnLight : transparent;
	--btnDark : #E9EAF0;
	--footerSelectText : #FDFDFF;
	--footerSelectBg : #46474E;
	--footerBolder : rgba(184, 187, 218, 0.30);
	--footerLogo : url('https://lwi.nexon.com/maplestory/common/footer_logo.png');
	--footerSnsColor : #C6C6C6;
}

.global_gnb img {
	vertical-align: top;
}
.index .global_gnb {
	height: var(--gnbHeight);
}
.global_gnb {
	position: sticky;
	top: 0;
	left: 0;
	
	font-family: "PretendardVariable", "Malgun Gothic", sans-serif;
	letter-spacing: normal;
	z-index: 100000;
}
/* .index .global_gnb.fx{
	position: sticky;
} */

.global_gnb.fx .gnb_outer{
	/* height: 88px; */
	/* background-color: var(--gnbFixedBg); */
	/* position: fixed;
	top: 0;
	z-index: 10000000; */
}
/* .index .global_gnb.fx .gnb_outer{
	position: inherit;
} */
.global_gnb.fx .gnb_outer::before {
	opacity: 1;
}

.global_gnb.fx .gnb_outer .gnb_inner .gnb_group > ul > li > a{
	color: #fff;
}
.global_gnb .gnb_outer {
	position: absolute;
	width: 100%;
	z-index: 10000000;
	display: flex;
	min-width: 1200px;
	min-height: var(--gnbHeight);
	justify-content: center;
	/* transition: background var(--gnbAnimSpeed) ease; */
}
.global_gnb .gnb_outer::before {
	content: '';
	height: var(--gnbHeight);
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--gnbFixedTopBg);
	opacity: 0;
	z-index: 1;
	/* transition: opacity var(--gnbAnimSpeed) var(--gnbEaseing); */
	transition: opacity .1s;
}
.global_gnb .gnb_outer::after {
	content: '';
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--gnbFixedBg);
	height: 0%;
	/* transition: height var(--gnbAnimSpeed) var(--gnbEaseing); */
	transition: height .1s;
}

/* .global_gnb .gnb_outer:hover {
	background-color: var(--gnbFixedBg);
} */
.global_gnb .gnb_outer:hover::before {
	opacity: 1;
}
.global_gnb .gnb_outer:hover::after {
	height: 100%;
}
.global_gnb .gnb_outer:hover .gnb_inner .gnb_group > ul {
	height: 100%;
}
.global_gnb .gnb_outer:hover .gnb_inner .gnb_group > ul > li > a{
	color: #fff;
}


.global_gnb .gnb_outer .gnb_inner{
	/* max-width: 1200px; */
	display: flex;
	gap: 19px;
	width: 100%;
	padding: 14px 0;
	box-sizing: border-box;
	justify-content: center;
	position: relative;
	margin: 0 20px;
	max-width: 1696px;
	z-index: 5;
	/* align-items: baseline; */
}

.gnb_btnWrap {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	top: 0;
	height: 100%;
	max-height: var(--gnbHeight);
	/* gap: 20px; */
	gap: 0px;
	/* margin-top: 15px; */
}
.global_gnb.fx .gnb_btnWrap {
	gap: 20px;
}

@media (max-width: 1736px) {
	.global_gnb.fx .gnb_outer .gnb_inner{
		margin-right: 0;
	}
}




.global_gnb .gnb_outer .gnb_inner .mainLogo{
	position: absolute;
	left: 0;
}
/* .index .global_gnb .gnb_outer .gnb_inner{
	margin: 0 30px;
	max-width: 1696px;
} */
.global_gnb .gnb_outer .gnb_inner .gnb_group {
	margin-top: 7px;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul{
	display: flex;
	height: 44px;
	overflow: hidden;
	/* transition: height var(--gnbAnimSpeed) var(--gnbEaseing); */
	transition: height .1s;
}


.global_gnb .gnb_outer .gnb_inner .gnb_group > ul li {
	position: relative;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul li > a > span{
	position: relative;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul li > a > span::before{
	content: '';
	width: 0%;
	height: 0px;
	border-bottom: 1px solid #E1E4FF;
	position: absolute;
	bottom: -1px;
	left: 0;
	transition: width .2s var(--gnbEaseing);
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > a > span::before{
	border-bottom: 2px solid #E1E4FF;
	bottom: -2px;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul li > a:hover > span::before{
	width: 100%;
}

.global_gnb .gnb_outer .gnb_inner .gnb_group > ul li.new > a > span::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: #FF7A1A;
	border-radius: 50%;
	right: -7px;
	top: 0;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li.new > a > span::after{
	width: 8px;
	height: 8px;
	right: -10px;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li {
	/* flex: 1 0 auto; */
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > a{
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	display: block;
	text-align: center;
	color: var(--gnbColor);
	padding: 10px 50px;
	/* transition: color var(--gnbAnimSpeed) var(--gnbEaseing); */
	transition: color 0.1s;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li a:hover{
	/* color: #f68500; */
	/* text-decoration: underline;
	text-underline-offset: 5px; */
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > ul {
	/* position: absolute;
	left: 50%;
	transform: translateX(-50%); */
	width: 100%;
	margin: 46px 0 26px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > ul > li{
	
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > ul > li a{
	display: flex;
	justify-content: center;
	gap: 3px;
	text-align: center;
	font-size: 15px;
	color: #E1E4FF;
	padding: 2px 0;
	font-weight: 500;
	font-style: normal;
	align-items: center;
	position: relative;
}


.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > ul > li a[target="_blank"]::after{
	content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.7587 17H10.2413C11.0463 17 11.7106 17 12.2518 16.9558C12.8139 16.9099 13.3306 16.8113 13.816 16.564C14.5686 16.1805 15.1805 15.5686 15.564 14.816C15.8113 14.3306 15.9099 13.8139 15.9558 13.2518C16 12.7106 16 13.0463 16 12.2413V11C16 10.4477 15.5523 10 15 10C14.4477 10 14 10.4477 14 11V12.2C14 13.0566 13.9992 12.6389 13.9624 13.089C13.9266 13.5274 13.8617 13.7516 13.782 13.908C13.5903 14.2843 13.2843 14.5903 12.908 14.782C12.7516 14.8617 12.5274 14.9266 12.089 14.9625C11.6389 14.9992 11.0566 15 10.2 15H6.8C5.94342 15 5.36113 14.9992 4.91104 14.9625C4.47262 14.9266 4.24842 14.8617 4.09202 14.782C3.7157 14.5903 3.40973 14.2843 3.21799 13.908C3.1383 13.7516 3.07337 13.5274 3.03755 13.089C3.00078 12.6389 3 12.0566 3 11.2V7.8C3 6.94342 3.00078 6.36113 3.03755 5.91104C3.07337 5.47262 3.1383 5.24842 3.21799 5.09202C3.40973 4.7157 3.7157 4.40974 4.09202 4.21799C4.24842 4.1383 4.47262 4.07337 4.91104 4.03755C5.36113 4.00078 4.94342 4 5.8 4H7C7.55229 4 8 3.55229 8 3C8 2.44772 7.55229 2 7 2H5.75873C4.95374 1.99999 5.28938 1.99998 4.74817 2.04419C4.18608 2.09012 3.66937 2.18868 3.18404 2.43598C2.43139 2.81947 1.81947 3.43139 1.43597 4.18404C1.18868 4.66937 1.09012 5.18608 1.04419 5.74818C0.999977 6.28937 0.999988 6.95373 1 7.7587V11.2413C0.999988 12.0463 0.999977 12.7106 1.04419 13.2518C1.09012 13.8139 1.18868 14.3306 1.43597 14.816C1.81947 15.5686 2.43139 16.1805 3.18404 16.564C3.66937 16.8113 4.18608 16.9099 4.74817 16.9558C5.28937 17 5.95373 17 6.7587 17Z' fill='%23E1E4FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7071 3.2929C15.0976 3.68342 15.0976 4.31659 14.7071 4.70711L8.20711 11.2071C7.81658 11.5976 7.18342 11.5976 6.79289 11.2071C6.40237 10.8166 6.40237 10.1834 6.79289 9.7929L13.2929 3.2929C13.6834 2.90237 14.3166 2.90237 14.7071 3.2929Z' fill='%23E1E4FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3C10 2.44772 10.4477 2 11 2H15C15.5523 2 16 2.44772 16 3V7C16 7.55229 15.5523 8 15 8C14.4477 8 14 7.55229 14 7V4H11C10.4477 4 10 3.55229 10 3Z' fill='%23E1E4FF'/%3E%3C/svg%3E%0A");
	display: block;
	height: 18px;
	opacity: .3;
	transition: opacity .01s ease .2s;
}
.global_gnb .gnb_outer .gnb_inner .gnb_group > ul > li > ul > li a[target="_blank"]:hover::after{
	opacity: 1;
}



.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .btn_mode{
	display: flex;
}
.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .btn_mode{
	display: none;
}
.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login {
	height: 100%;
	width: 0;
	overflow: hidden;
	/* transition: width var(--gnbAnimSpeed) cubic-bezier(0.85, 0, 0.15, 1); */
}
.global_gnb.fx .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login {
	transition: width var(--gnbAnimSpeed) cubic-bezier(0.85, 0, 0.15, 1);
}
.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login .login_btn{
	width: 210px;
	height: 100%;
	/* display: none; */
	background: url('https://lwi.nexon.com/maplestory/common/gnb_btn_gameStart.png') no-repeat center center;
	font-size: 0;
	display: block;
}
.global_gnb.fx .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login .login_btn{
	/* display: block; */
}

.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login .login_btn:hover{
	background-image: url('https://lwi.nexon.com/maplestory/common/gnb_btn_gameStart_on.png')
}

@media (max-width: 1535px) {
	.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login .login_btn{
		width: 114px;
		background-image: url('https://lwi.nexon.com/maplestory/common/gnb_btn_gameStart_sm.png');
	}
	.global_gnb .gnb_outer .gnb_inner .gnb_btnWrap .gnb_btn_login .login_btn:hover{
		background-image: url('https://lwi.nexon.com/maplestory/common/gnb_btn_gameStart_sm_on.png');
	}
	
}


.index .global_gnb .gnb_outer .gnb_inner .btn_mode {
	display: flex;
	background-color: var(--darkOnOffBg);
	height: 28px;
	padding: 0 3px;
	align-items: center;
	border-radius: 14px;
	transition: background var(--gnbAnimSpeed) ease;
	cursor: pointer;
}
.global_gnb .gnb_outer .gnb_inner .btn_mode:hover > button:nth-child(1) svg{
	fill: #46474E;
}
.global_gnb .gnb_outer .gnb_inner .btn_mode:hover > button:nth-child(2) svg{
	fill: #FFF;
}
.global_gnb .gnb_outer .gnb_inner .btn_mode > button {
	display: flex;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: background var(--gnbAnimSpeed) ease;
}
.global_gnb .gnb_outer .gnb_inner .btn_mode > button svg {
	fill: #BBBECD;
	transition: fill var(--gnbAnimSpeed) ease;
}
.global_gnb .gnb_outer .gnb_inner .btn_mode > button:nth-child(1){
	background-color: var(--btnDark);
}
.global_gnb .gnb_outer .gnb_inner .btn_mode > button:nth-child(1).on svg{
	fill: var(--darkOnOffBg);
}
.global_gnb .gnb_outer .gnb_inner .btn_mode > button:nth-child(2){
	background-color: var(--btnLight);
}
.global_gnb .gnb_outer .gnb_inner .btn_mode > button:nth-child(2).on svg{
	fill: #DEE1F9;
}



/* gnb end */



/* footer */
#footer button, #footer a, #footer span{
	font-family: "PretendardVariable", "Malgun Gothic", sans-serif;
	letter-spacing: normal;
}
#footer {
	background-color: #46474E;
	display: flex;
	justify-content: center;
	float: left;
	width: 100%;
}
.index #footer {
	background-color: transparent;
	float: none;
}

#footer .footer_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px 0 70px;
}
#footer .footer_inner .footerSelect{
	min-width: 164px;
	border-radius: 17px;
	height: 36px;
	box-sizing: border-box;
	z-index: 1000;
	position: relative;
}
#footer .footer_inner .footerSelect .selectTitle{
	font-size: 12px;
	padding: 8px 20px;
	color: var(--footerSelectText);
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 17px;
	background-color : var(--footerSelectBg);
	position: relative;
	z-index: 100;
	border: 2px solid #CDCFDB;
	box-sizing: border-box;
	font-weight: 500;
}

#footer .footer_inner .footerSelect .selectTitle::after{
	content: '';
	display: block;
	width: 13px;
	height: 8px;
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M12.3312 0.468628C11.7063 -0.15621 10.6933 -0.15621 10.0684 0.468628L6.3998 4.13726L2.73118 0.468628C2.10634 -0.15621 1.09327 -0.15621 0.468434 0.468628C-0.156405 1.09347 -0.156405 2.10653 0.468434 2.73137L5.26843 7.53137C5.89327 8.15621 6.90634 8.15621 7.53118 7.53137L12.3312 2.73137C12.956 2.10653 12.956 1.09347 12.3312 0.468628Z' fill='%23A4A5AC'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: auto;
	transition: transform var(--gnbAnimSpeed);
}
#footer .footer_inner .footerSelect .selectTitle.on::after {
	transform: rotateX(180deg);
}
#footer .footer_inner .footerSelect .selectTitle:hover::after,
#footer .footer_inner .footerSelect .selectTitle.on::after {
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3312 0.468628C11.7063 -0.15621 10.6933 -0.15621 10.0684 0.468628L6.3998 4.13726L2.73118 0.468628C2.10634 -0.15621 1.09327 -0.15621 0.468434 0.468628C-0.156405 1.09347 -0.156405 2.10653 0.468434 2.73137L5.26843 7.53137C5.89327 8.15621 6.90634 8.15621 7.53118 7.53137L12.3312 2.73137C12.956 2.10653 12.956 1.09347 12.3312 0.468628Z' fill='%23AEB0BE'/%3E%3C/svg%3E%0A");
}
#footer .footer_inner .footerSelect .fs_2depath {
	padding: 17px 20px 0 20px;
	background-color: #CDCFDB;
	border-radius: 0 0 17px 17px;
	font-size: 11px;
	position: absolute;
	top: 17px;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	/* height: 0; */
	/* overflow: hidden; */
	/* display: none; */
	transform: rotateX(90deg);
	opacity: 0;
	transform-origin: top;
	transition: transform var(--gnbAnimSpeed) var(--gnbEaseing), opacity var(--gnbAnimSpeed) var(--gnbEaseing);
}
#footer .footer_inner .footerSelect .selectTitle.on + .fs_2depath{
	/* display: block; */
	transform: rotateX(0deg);
	opacity: 1;
}

#footer .footer_inner .footerSelect .fs_2depath > ul {
	margin: 7px 0 12px;
}
#footer .footer_inner .footerSelect .fs_2depath > ul > li {
	margin-top: 6px;
}
#footer .footer_inner .footerSelect .fs_2depath > ul > li:nth-child(1) {
	margin-top: 0px;
}
#footer .footer_inner .footerSelect .fs_2depath > ul > li > a{
	color: #222;
	display: inline-block;
	position: relative;
}

#footer .footer_inner .footerSelect .fs_2depath > ul > li > a::after{
	content: '';
	width: 0;
	height: 0;
	border-bottom: 1px solid #222;
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	transition: width .2s var(--gnbEaseing);
}
#footer .footer_inner .footerSelect .fs_2depath > ul > li > a:hover::after{
	width: 100%;
}

#footer .footer_inner .footerSelect .fs_2depath > ul > li > a:hover{
	/* text-decoration: underline;
	text-underline-offset: 3px; */
}
#footer .footer_inner .sns_group {
	margin-top: 20px;
}
#footer .footer_inner .sns_group ul {
	display: flex;
	gap: 40px;
}
#footer .footer_inner .sns_group ul li a {
	font-size: 0;
	display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	color: var(--footerSnsColor);
	position: relative;
}

#footer .footer_inner .sns_group ul li a::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity var(--gnbAnimSpeed);
}
#footer .footer_inner .sns_group ul li a:hover::after {
	opacity: 1;
}



.index #footer .footer_inner .sns_group ul li:nth-child(1) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_259_472)'%3E%3Cpath d='M10.5 0.277344C4.9772 0.277344 0.5 4.75454 0.5 10.2773C0.5 14.9669 3.7288 18.9021 8.0844 19.9829V13.3333H6.0224V10.2773H8.0844V8.96054C8.0844 5.55694 9.6248 3.97934 12.9664 3.97934C13.6 3.97934 14.6932 4.10374 15.1404 4.22774V6.99774C14.9044 6.97294 14.4944 6.96054 13.9852 6.96054C12.3456 6.96054 11.712 7.58174 11.712 9.19654V10.2773H14.9784L14.4172 13.3333H11.712V20.2041C16.6636 19.6061 20.5004 15.3901 20.5004 10.2773C20.5 4.75454 16.0228 0.277344 10.5 0.277344Z' fill='%23A9ABBD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_259_472'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5 0.277344)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.index #footer .footer_inner .sns_group ul li:nth-child(2) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7721 1.86377H18.5833L12.4416 8.88335L19.6668 18.4354H14.0095L9.57852 12.6421L4.50845 18.4354H1.69552L8.26469 10.9272L1.3335 1.86377H7.13442L11.1397 7.15905L15.7721 1.86377ZM14.7854 16.7528H16.3432L6.28799 3.45805H4.61638L14.7854 16.7528Z' fill='%23A9ABBD'/%3E%3C/svg%3E%0A");
}
.index #footer .footer_inner .sns_group ul li:nth-child(3) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_259_474)'%3E%3Cpath d='M10.5 2.07812C13.1719 2.07812 13.4883 2.08984 14.5391 2.13672C15.5156 2.17969 16.043 2.34375 16.3945 2.48047C16.8594 2.66016 17.1953 2.87891 17.543 3.22656C17.8945 3.57813 18.1094 3.91016 18.2891 4.375C18.4258 4.72656 18.5898 5.25781 18.6328 6.23047C18.6797 7.28516 18.6914 7.60156 18.6914 10.2695C18.6914 12.9414 18.6797 13.2578 18.6328 14.3086C18.5898 15.2852 18.4258 15.8125 18.2891 16.1641C18.1094 16.6289 17.8906 16.9648 17.543 17.3125C17.1914 17.6641 16.8594 17.8789 16.3945 18.0586C16.043 18.1953 15.5117 18.3594 14.5391 18.4023C13.4844 18.4492 13.168 18.4609 10.5 18.4609C7.82813 18.4609 7.51172 18.4492 6.46094 18.4023C5.48438 18.3594 4.95703 18.1953 4.60547 18.0586C4.14063 17.8789 3.80469 17.6602 3.45703 17.3125C3.10547 16.9609 2.89063 16.6289 2.71094 16.1641C2.57422 15.8125 2.41016 15.2813 2.36719 14.3086C2.32031 13.2539 2.30859 12.9375 2.30859 10.2695C2.30859 7.59766 2.32031 7.28125 2.36719 6.23047C2.41016 5.25391 2.57422 4.72656 2.71094 4.375C2.89063 3.91016 3.10938 3.57422 3.45703 3.22656C3.80859 2.875 4.14063 2.66016 4.60547 2.48047C4.95703 2.34375 5.48828 2.17969 6.46094 2.13672C7.51172 2.08984 7.82813 2.07812 10.5 2.07812ZM10.5 0.277344C7.78516 0.277344 7.44531 0.289062 6.37891 0.335938C5.31641 0.382813 4.58594 0.554687 3.95313 0.800781C3.29297 1.05859 2.73438 1.39844 2.17969 1.95703C1.62109 2.51172 1.28125 3.07031 1.02344 3.72656C0.777344 4.36328 0.605469 5.08984 0.558594 6.15234C0.511719 7.22266 0.5 7.5625 0.5 10.2773C0.5 12.9922 0.511719 13.332 0.558594 14.3984C0.605469 15.4609 0.777344 16.1914 1.02344 16.8242C1.28125 17.4844 1.62109 18.043 2.17969 18.5977C2.73438 19.1523 3.29297 19.4961 3.94922 19.75C4.58594 19.9961 5.3125 20.168 6.375 20.2148C7.44141 20.2617 7.78125 20.2734 10.4961 20.2734C13.2109 20.2734 13.5508 20.2617 14.6172 20.2148C15.6797 20.168 16.4102 19.9961 17.043 19.75C17.6992 19.4961 18.2578 19.1523 18.8125 18.5977C19.3672 18.043 19.7109 17.4844 19.9648 16.8281C20.2109 16.1914 20.3828 15.4648 20.4297 14.4023C20.4766 13.3359 20.4883 12.9961 20.4883 10.2813C20.4883 7.56641 20.4766 7.22656 20.4297 6.16016C20.3828 5.09766 20.2109 4.36719 19.9648 3.73438C19.7188 3.07031 19.3789 2.51172 18.8203 1.95703C18.2656 1.40234 17.707 1.05859 17.0508 0.804688C16.4141 0.558594 15.6875 0.386719 14.625 0.339844C13.5547 0.289063 13.2148 0.277344 10.5 0.277344Z' fill='%23A9ABBD'/%3E%3Cpath d='M10.5 5.14062C7.66406 5.14062 5.36328 7.44141 5.36328 10.2773C5.36328 13.1133 7.66406 15.4141 10.5 15.4141C13.3359 15.4141 15.6367 13.1133 15.6367 10.2773C15.6367 7.44141 13.3359 5.14062 10.5 5.14062ZM10.5 13.6094C8.66016 13.6094 7.16797 12.1172 7.16797 10.2773C7.16797 8.4375 8.66016 6.94531 10.5 6.94531C12.3398 6.94531 13.832 8.4375 13.832 10.2773C13.832 12.1172 12.3398 13.6094 10.5 13.6094Z' fill='%23A9ABBD'/%3E%3Cpath d='M17.0391 4.9375C17.0391 5.60157 16.5 6.13672 15.8398 6.13672C15.1758 6.13672 14.6406 5.59766 14.6406 4.9375C14.6406 4.27344 15.1797 3.73828 15.8398 3.73828C16.5 3.73828 17.0391 4.27734 17.0391 4.9375Z' fill='%23A9ABBD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_259_474'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5 0.277344)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.index #footer .footer_inner .sns_group ul li:nth-child(4) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_259_475)'%3E%3Cpath d='M20.3008 6.27734C20.3008 6.27734 20.1055 4.89844 19.5039 4.29297C18.7422 3.49609 17.8906 3.49219 17.5 3.44531C14.7031 3.24219 10.5039 3.24219 10.5039 3.24219H10.4961C10.4961 3.24219 6.29688 3.24219 3.5 3.44531C3.10938 3.49219 2.25781 3.49609 1.49609 4.29297C0.894531 4.89844 0.703125 6.27734 0.703125 6.27734C0.703125 6.27734 0.5 7.89844 0.5 9.51563V11.0312C0.5 12.6484 0.699219 14.2695 0.699219 14.2695C0.699219 14.2695 0.894531 15.6484 1.49219 16.2539C2.25391 17.0508 3.25391 17.0234 3.69922 17.1094C5.30078 17.2617 10.5 17.3086 10.5 17.3086C10.5 17.3086 14.7031 17.3008 17.5 17.1016C17.8906 17.0547 18.7422 17.0508 19.5039 16.2539C20.1055 15.6484 20.3008 14.2695 20.3008 14.2695C20.3008 14.2695 20.5 12.6523 20.5 11.0312V9.51563C20.5 7.89844 20.3008 6.27734 20.3008 6.27734ZM8.43359 12.8711V7.25L13.8359 10.0703L8.43359 12.8711Z' fill='%23A9ABBD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_259_475'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5 0.277344)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.index.dark #footer .footer_inner .sns_group ul li:nth-child(1) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1136_3396)'%3E%3Cpath d='M10.5 0C4.9772 0 0.5 4.4772 0.5 10C0.5 14.6896 3.7288 18.6248 8.0844 19.7056V13.056H6.0224V10H8.0844V8.6832C8.0844 5.2796 9.6248 3.702 12.9664 3.702C13.6 3.702 14.6932 3.8264 15.1404 3.9504V6.7204C14.9044 6.6956 14.4944 6.6832 13.9852 6.6832C12.3456 6.6832 11.712 7.3044 11.712 8.9192V10H14.9784L14.4172 13.056H11.712V19.9268C16.6636 19.3288 20.5004 15.1128 20.5004 10C20.5 4.4772 16.0228 0 10.5 0Z' fill='%23C6C6C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1136_3396'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.index.dark #footer .footer_inner .sns_group ul li:nth-child(2) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7718 1.58643H18.5831L12.4413 8.606L19.6666 18.1581H14.0093L9.57828 12.3648L4.50821 18.1581H1.69528L8.26445 10.6498L1.33325 1.58643H7.13418L11.1394 6.8817L15.7718 1.58643ZM14.7852 16.4754H16.3429L6.28775 3.1807H4.61614L14.7852 16.4754Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
}
.index.dark #footer .footer_inner .sns_group ul li:nth-child(3) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1136_3400)'%3E%3Cpath d='M10.5 1.80078C13.1719 1.80078 13.4883 1.8125 14.5391 1.85937C15.5156 1.90234 16.043 2.06641 16.3945 2.20313C16.8594 2.38281 17.1953 2.60156 17.543 2.94922C17.8945 3.30078 18.1094 3.63281 18.2891 4.09766C18.4258 4.44922 18.5898 4.98047 18.6328 5.95312C18.6797 7.00781 18.6914 7.32422 18.6914 9.99219C18.6914 12.6641 18.6797 12.9805 18.6328 14.0313C18.5898 15.0078 18.4258 15.5352 18.2891 15.8867C18.1094 16.3516 17.8906 16.6875 17.543 17.0352C17.1914 17.3867 16.8594 17.6016 16.3945 17.7813C16.043 17.918 15.5117 18.082 14.5391 18.125C13.4844 18.1719 13.168 18.1836 10.5 18.1836C7.82813 18.1836 7.51172 18.1719 6.46094 18.125C5.48438 18.082 4.95703 17.918 4.60547 17.7813C4.14063 17.6016 3.80469 17.3828 3.45703 17.0352C3.10547 16.6836 2.89063 16.3516 2.71094 15.8867C2.57422 15.5352 2.41016 15.0039 2.36719 14.0313C2.32031 12.9766 2.30859 12.6602 2.30859 9.99219C2.30859 7.32031 2.32031 7.00391 2.36719 5.95312C2.41016 4.97656 2.57422 4.44922 2.71094 4.09766C2.89063 3.63281 3.10938 3.29688 3.45703 2.94922C3.80859 2.59766 4.14063 2.38281 4.60547 2.20313C4.95703 2.06641 5.48828 1.90234 6.46094 1.85937C7.51172 1.8125 7.82813 1.80078 10.5 1.80078ZM10.5 0C7.78516 0 7.44531 0.0117187 6.37891 0.0585938C5.31641 0.105469 4.58594 0.277344 3.95313 0.523438C3.29297 0.78125 2.73438 1.12109 2.17969 1.67969C1.62109 2.23438 1.28125 2.79297 1.02344 3.44922C0.777344 4.08594 0.605469 4.8125 0.558594 5.875C0.511719 6.94531 0.5 7.28516 0.5 10C0.5 12.7148 0.511719 13.0547 0.558594 14.1211C0.605469 15.1836 0.777344 15.9141 1.02344 16.5469C1.28125 17.207 1.62109 17.7656 2.17969 18.3203C2.73438 18.875 3.29297 19.2188 3.94922 19.4727C4.58594 19.7188 5.3125 19.8906 6.375 19.9375C7.44141 19.9844 7.78125 19.9961 10.4961 19.9961C13.2109 19.9961 13.5508 19.9844 14.6172 19.9375C15.6797 19.8906 16.4102 19.7188 17.043 19.4727C17.6992 19.2188 18.2578 18.875 18.8125 18.3203C19.3672 17.7656 19.7109 17.207 19.9648 16.5508C20.2109 15.9141 20.3828 15.1875 20.4297 14.125C20.4766 13.0586 20.4883 12.7188 20.4883 10.0039C20.4883 7.28906 20.4766 6.94922 20.4297 5.88281C20.3828 4.82031 20.2109 4.08984 19.9648 3.45703C19.7188 2.79297 19.3789 2.23438 18.8203 1.67969C18.2656 1.125 17.707 0.78125 17.0508 0.527344C16.4141 0.28125 15.6875 0.109375 14.625 0.0625C13.5547 0.0117188 13.2148 0 10.5 0Z' fill='%23C6C6C6'/%3E%3Cpath d='M10.5 4.86328C7.66406 4.86328 5.36328 7.16406 5.36328 10C5.36328 12.8359 7.66406 15.1367 10.5 15.1367C13.3359 15.1367 15.6367 12.8359 15.6367 10C15.6367 7.16406 13.3359 4.86328 10.5 4.86328ZM10.5 13.332C8.66016 13.332 7.16797 11.8398 7.16797 10C7.16797 8.16016 8.66016 6.66797 10.5 6.66797C12.3398 6.66797 13.832 8.16016 13.832 10C13.832 11.8398 12.3398 13.332 10.5 13.332Z' fill='%23C6C6C6'/%3E%3Cpath d='M17.0391 4.66016C17.0391 5.32422 16.5 5.85938 15.8398 5.85938C15.1758 5.85938 14.6406 5.32031 14.6406 4.66016C14.6406 3.99609 15.1797 3.46094 15.8398 3.46094C16.5 3.46094 17.0391 4 17.0391 4.66016Z' fill='%23C6C6C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1136_3400'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.index.dark #footer .footer_inner .sns_group ul li:nth-child(4) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1136_3404)'%3E%3Cpath d='M20.3008 6C20.3008 6 20.1055 4.62109 19.5039 4.01563C18.7422 3.21875 17.8906 3.21484 17.5 3.16797C14.7031 2.96484 10.5039 2.96484 10.5039 2.96484H10.4961C10.4961 2.96484 6.29688 2.96484 3.5 3.16797C3.10938 3.21484 2.25781 3.21875 1.49609 4.01563C0.894531 4.62109 0.703125 6 0.703125 6C0.703125 6 0.5 7.62109 0.5 9.23828V10.7539C0.5 12.3711 0.699219 13.9922 0.699219 13.9922C0.699219 13.9922 0.894531 15.3711 1.49219 15.9766C2.25391 16.7734 3.25391 16.7461 3.69922 16.832C5.30078 16.9844 10.5 17.0313 10.5 17.0313C10.5 17.0313 14.7031 17.0234 17.5 16.8242C17.8906 16.7773 18.7422 16.7734 19.5039 15.9766C20.1055 15.3711 20.3008 13.9922 20.3008 13.9922C20.3008 13.9922 20.5 12.375 20.5 10.7539V9.23828C20.5 7.62109 20.3008 6 20.3008 6ZM8.43359 12.5938V6.97266L13.8359 9.79297L8.43359 12.5938Z' fill='%23C6C6C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1136_3404'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}



#footer .footer_inner .sns_group ul li:nth-child(1) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1136_3396)'%3E%3Cpath d='M10.5 0C4.9772 0 0.5 4.4772 0.5 10C0.5 14.6896 3.7288 18.6248 8.0844 19.7056V13.056H6.0224V10H8.0844V8.6832C8.0844 5.2796 9.6248 3.702 12.9664 3.702C13.6 3.702 14.6932 3.8264 15.1404 3.9504V6.7204C14.9044 6.6956 14.4944 6.6832 13.9852 6.6832C12.3456 6.6832 11.712 7.3044 11.712 8.9192V10H14.9784L14.4172 13.056H11.712V19.9268C16.6636 19.3288 20.5004 15.1128 20.5004 10C20.5 4.4772 16.0228 0 10.5 0Z' fill='%23C6C6C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1136_3396'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
#footer .footer_inner .sns_group ul li:nth-child(2) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7718 1.58643H18.5831L12.4413 8.606L19.6666 18.1581H14.0093L9.57828 12.3648L4.50821 18.1581H1.69528L8.26445 10.6498L1.33325 1.58643H7.13418L11.1394 6.8817L15.7718 1.58643ZM14.7852 16.4754H16.3429L6.28775 3.1807H4.61614L14.7852 16.4754Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
}
#footer .footer_inner .sns_group ul li:nth-child(3) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1136_3400)'%3E%3Cpath d='M10.5 1.80078C13.1719 1.80078 13.4883 1.8125 14.5391 1.85937C15.5156 1.90234 16.043 2.06641 16.3945 2.20313C16.8594 2.38281 17.1953 2.60156 17.543 2.94922C17.8945 3.30078 18.1094 3.63281 18.2891 4.09766C18.4258 4.44922 18.5898 4.98047 18.6328 5.95312C18.6797 7.00781 18.6914 7.32422 18.6914 9.99219C18.6914 12.6641 18.6797 12.9805 18.6328 14.0313C18.5898 15.0078 18.4258 15.5352 18.2891 15.8867C18.1094 16.3516 17.8906 16.6875 17.543 17.0352C17.1914 17.3867 16.8594 17.6016 16.3945 17.7813C16.043 17.918 15.5117 18.082 14.5391 18.125C13.4844 18.1719 13.168 18.1836 10.5 18.1836C7.82813 18.1836 7.51172 18.1719 6.46094 18.125C5.48438 18.082 4.95703 17.918 4.60547 17.7813C4.14063 17.6016 3.80469 17.3828 3.45703 17.0352C3.10547 16.6836 2.89063 16.3516 2.71094 15.8867C2.57422 15.5352 2.41016 15.0039 2.36719 14.0313C2.32031 12.9766 2.30859 12.6602 2.30859 9.99219C2.30859 7.32031 2.32031 7.00391 2.36719 5.95312C2.41016 4.97656 2.57422 4.44922 2.71094 4.09766C2.89063 3.63281 3.10938 3.29688 3.45703 2.94922C3.80859 2.59766 4.14063 2.38281 4.60547 2.20313C4.95703 2.06641 5.48828 1.90234 6.46094 1.85937C7.51172 1.8125 7.82813 1.80078 10.5 1.80078ZM10.5 0C7.78516 0 7.44531 0.0117187 6.37891 0.0585938C5.31641 0.105469 4.58594 0.277344 3.95313 0.523438C3.29297 0.78125 2.73438 1.12109 2.17969 1.67969C1.62109 2.23438 1.28125 2.79297 1.02344 3.44922C0.777344 4.08594 0.605469 4.8125 0.558594 5.875C0.511719 6.94531 0.5 7.28516 0.5 10C0.5 12.7148 0.511719 13.0547 0.558594 14.1211C0.605469 15.1836 0.777344 15.9141 1.02344 16.5469C1.28125 17.207 1.62109 17.7656 2.17969 18.3203C2.73438 18.875 3.29297 19.2188 3.94922 19.4727C4.58594 19.7188 5.3125 19.8906 6.375 19.9375C7.44141 19.9844 7.78125 19.9961 10.4961 19.9961C13.2109 19.9961 13.5508 19.9844 14.6172 19.9375C15.6797 19.8906 16.4102 19.7188 17.043 19.4727C17.6992 19.2188 18.2578 18.875 18.8125 18.3203C19.3672 17.7656 19.7109 17.207 19.9648 16.5508C20.2109 15.9141 20.3828 15.1875 20.4297 14.125C20.4766 13.0586 20.4883 12.7188 20.4883 10.0039C20.4883 7.28906 20.4766 6.94922 20.4297 5.88281C20.3828 4.82031 20.2109 4.08984 19.9648 3.45703C19.7188 2.79297 19.3789 2.23438 18.8203 1.67969C18.2656 1.125 17.707 0.78125 17.0508 0.527344C16.4141 0.28125 15.6875 0.109375 14.625 0.0625C13.5547 0.0117188 13.2148 0 10.5 0Z' fill='%23C6C6C6'/%3E%3Cpath d='M10.5 4.86328C7.66406 4.86328 5.36328 7.16406 5.36328 10C5.36328 12.8359 7.66406 15.1367 10.5 15.1367C13.3359 15.1367 15.6367 12.8359 15.6367 10C15.6367 7.16406 13.3359 4.86328 10.5 4.86328ZM10.5 13.332C8.66016 13.332 7.16797 11.8398 7.16797 10C7.16797 8.16016 8.66016 6.66797 10.5 6.66797C12.3398 6.66797 13.832 8.16016 13.832 10C13.832 11.8398 12.3398 13.332 10.5 13.332Z' fill='%23C6C6C6'/%3E%3Cpath d='M17.0391 4.66016C17.0391 5.32422 16.5 5.85938 15.8398 5.85938C15.1758 5.85938 14.6406 5.32031 14.6406 4.66016C14.6406 3.99609 15.1797 3.46094 15.8398 3.46094C16.5 3.46094 17.0391 4 17.0391 4.66016Z' fill='%23C6C6C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1136_3400'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
#footer .footer_inner .sns_group ul li:nth-child(4) a{
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1136_3404)'%3E%3Cpath d='M20.3008 6C20.3008 6 20.1055 4.62109 19.5039 4.01563C18.7422 3.21875 17.8906 3.21484 17.5 3.16797C14.7031 2.96484 10.5039 2.96484 10.5039 2.96484H10.4961C10.4961 2.96484 6.29688 2.96484 3.5 3.16797C3.10938 3.21484 2.25781 3.21875 1.49609 4.01563C0.894531 4.62109 0.703125 6 0.703125 6C0.703125 6 0.5 7.62109 0.5 9.23828V10.7539C0.5 12.3711 0.699219 13.9922 0.699219 13.9922C0.699219 13.9922 0.894531 15.3711 1.49219 15.9766C2.25391 16.7734 3.25391 16.7461 3.69922 16.832C5.30078 16.9844 10.5 17.0313 10.5 17.0313C10.5 17.0313 14.7031 17.0234 17.5 16.8242C17.8906 16.7773 18.7422 16.7734 19.5039 15.9766C20.1055 15.3711 20.3008 13.9922 20.3008 13.9922C20.3008 13.9922 20.5 12.375 20.5 10.7539V9.23828C20.5 7.62109 20.3008 6 20.3008 6ZM8.43359 12.5938V6.97266L13.8359 9.79297L8.43359 12.5938Z' fill='%23C6C6C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1136_3404'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

#footer .footer_inner .sns_group ul li:nth-child(1) a::after{
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_988_13028)'%3E%3Cpath d='M10 0C4.4772 0 0 4.4772 0 10C0 14.6896 3.2288 18.6248 7.5844 19.7056V13.056H5.5224V10H7.5844V8.6832C7.5844 5.2796 9.1248 3.702 12.4664 3.702C13.1 3.702 14.1932 3.8264 14.6404 3.9504V6.7204C14.4044 6.6956 13.9944 6.6832 13.4852 6.6832C11.8456 6.6832 11.212 7.3044 11.212 8.9192V10H14.4784L13.9172 13.056H11.212V19.9268C16.1636 19.3288 20.0004 15.1128 20.0004 10C20 4.4772 15.5228 0 10 0Z' fill='%238386A3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_988_13028'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
}
#footer .footer_inner .sns_group ul li:nth-child(2) a::after{
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2721 1.58643H18.0833L11.9416 8.606L19.1668 18.1581H13.5095L9.07852 12.3648L4.00845 18.1581H1.19552L7.76469 10.6498L0.833496 1.58643H6.63442L10.6397 6.8817L15.2721 1.58643ZM14.2854 16.4754H15.8432L5.78799 3.1807H4.11638L14.2854 16.4754Z' fill='%238386A3'/%3E%3C/svg%3E%0A") !important;
}
#footer .footer_inner .sns_group ul li:nth-child(3) a::after{
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_988_13030)'%3E%3Cpath d='M10 1.80078C12.6719 1.80078 12.9883 1.8125 14.0391 1.85937C15.0156 1.90234 15.543 2.06641 15.8945 2.20313C16.3594 2.38281 16.6953 2.60156 17.043 2.94922C17.3945 3.30078 17.6094 3.63281 17.7891 4.09766C17.9258 4.44922 18.0898 4.98047 18.1328 5.95312C18.1797 7.00781 18.1914 7.32422 18.1914 9.99219C18.1914 12.6641 18.1797 12.9805 18.1328 14.0313C18.0898 15.0078 17.9258 15.5352 17.7891 15.8867C17.6094 16.3516 17.3906 16.6875 17.043 17.0352C16.6914 17.3867 16.3594 17.6016 15.8945 17.7813C15.543 17.918 15.0117 18.082 14.0391 18.125C12.9844 18.1719 12.668 18.1836 10 18.1836C7.32813 18.1836 7.01172 18.1719 5.96094 18.125C4.98438 18.082 4.45703 17.918 4.10547 17.7813C3.64063 17.6016 3.30469 17.3828 2.95703 17.0352C2.60547 16.6836 2.39063 16.3516 2.21094 15.8867C2.07422 15.5352 1.91016 15.0039 1.86719 14.0313C1.82031 12.9766 1.80859 12.6602 1.80859 9.99219C1.80859 7.32031 1.82031 7.00391 1.86719 5.95312C1.91016 4.97656 2.07422 4.44922 2.21094 4.09766C2.39063 3.63281 2.60938 3.29688 2.95703 2.94922C3.30859 2.59766 3.64063 2.38281 4.10547 2.20313C4.45703 2.06641 4.98828 1.90234 5.96094 1.85937C7.01172 1.8125 7.32813 1.80078 10 1.80078ZM10 0C7.28516 0 6.94531 0.0117187 5.87891 0.0585938C4.81641 0.105469 4.08594 0.277344 3.45313 0.523438C2.79297 0.78125 2.23438 1.12109 1.67969 1.67969C1.12109 2.23438 0.78125 2.79297 0.523438 3.44922C0.277344 4.08594 0.105469 4.8125 0.0585938 5.875C0.0117188 6.94531 0 7.28516 0 10C0 12.7148 0.0117188 13.0547 0.0585938 14.1211C0.105469 15.1836 0.277344 15.9141 0.523438 16.5469C0.78125 17.207 1.12109 17.7656 1.67969 18.3203C2.23438 18.875 2.79297 19.2188 3.44922 19.4727C4.08594 19.7188 4.8125 19.8906 5.875 19.9375C6.94141 19.9844 7.28125 19.9961 9.99609 19.9961C12.7109 19.9961 13.0508 19.9844 14.1172 19.9375C15.1797 19.8906 15.9102 19.7188 16.543 19.4727C17.1992 19.2188 17.7578 18.875 18.3125 18.3203C18.8672 17.7656 19.2109 17.207 19.4648 16.5508C19.7109 15.9141 19.8828 15.1875 19.9297 14.125C19.9766 13.0586 19.9883 12.7188 19.9883 10.0039C19.9883 7.28906 19.9766 6.94922 19.9297 5.88281C19.8828 4.82031 19.7109 4.08984 19.4648 3.45703C19.2188 2.79297 18.8789 2.23438 18.3203 1.67969C17.7656 1.125 17.207 0.78125 16.5508 0.527344C15.9141 0.28125 15.1875 0.109375 14.125 0.0625C13.0547 0.0117188 12.7148 0 10 0Z' fill='%238386A3'/%3E%3Cpath d='M10 4.86328C7.16406 4.86328 4.86328 7.16406 4.86328 10C4.86328 12.8359 7.16406 15.1367 10 15.1367C12.8359 15.1367 15.1367 12.8359 15.1367 10C15.1367 7.16406 12.8359 4.86328 10 4.86328ZM10 13.332C8.16016 13.332 6.66797 11.8398 6.66797 10C6.66797 8.16016 8.16016 6.66797 10 6.66797C11.8398 6.66797 13.332 8.16016 13.332 10C13.332 11.8398 11.8398 13.332 10 13.332Z' fill='%238386A3'/%3E%3Cpath d='M16.5391 4.66016C16.5391 5.32422 16 5.85938 15.3398 5.85938C14.6758 5.85938 14.1406 5.32031 14.1406 4.66016C14.1406 3.99609 14.6797 3.46094 15.3398 3.46094C16 3.46094 16.5391 4 16.5391 4.66016Z' fill='%238386A3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_988_13030'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
}
#footer .footer_inner .sns_group ul li:nth-child(4) a::after{
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8008 6C19.8008 6 19.6055 4.62109 19.0039 4.01563C18.2422 3.21875 17.3906 3.21484 17 3.16797C14.2031 2.96484 10.0039 2.96484 10.0039 2.96484H9.99609C9.99609 2.96484 5.79688 2.96484 3 3.16797C2.60938 3.21484 1.75781 3.21875 0.996094 4.01563C0.394531 4.62109 0.203125 6 0.203125 6C0.203125 6 0 7.62109 0 9.23828V10.7539C0 12.3711 0.199219 13.9922 0.199219 13.9922C0.199219 13.9922 0.394531 15.3711 0.992187 15.9766C1.75391 16.7734 2.75391 16.7461 3.19922 16.832C4.80078 16.9844 10 17.0313 10 17.0313C10 17.0313 14.2031 17.0234 17 16.8242C17.3906 16.7773 18.2422 16.7734 19.0039 15.9766C19.6055 15.3711 19.8008 13.9922 19.8008 13.9922C19.8008 13.9922 20 12.375 20 10.7539V9.23828C20 7.62109 19.8008 6 19.8008 6ZM7.93359 12.5938V6.97266L13.3359 9.79297L7.93359 12.5938Z' fill='%238386A3'/%3E%3C/svg%3E%0A") !important;
}


#footer .footer_inner .link_group {
	margin-top: 28px;
}
#footer .footer_inner .link_group ul {
	display: flex;
}
#footer .footer_inner .link_group ul li {
	padding: 0 20px;
	position: relative;
	display: flex;
}
#footer .footer_inner .link_group ul li::after {
	content: '';
	display: block;
	border-right: 1px solid var(--footerBolder);
	height:100%;
	position: absolute;
	right: 0;
}
#footer .footer_inner .link_group ul li:last-child::after {
	display: none;
}
#footer .footer_inner .link_group ul li b{
	font-weight: 800;
}
#footer .footer_inner .link_group ul li a{
	/* color: #FDFDFF; */
	color: var(--footerSelectText);
	font-size: 14px;
}
#footer .footer_inner .link_group ul li a:hover{
	text-decoration: underline;
	text-underline-offset: 3px;
}
#footer .footer_inner .footerInfo {
	font-size: 13px;
	line-height: 18px;
	margin-top: 13px;
}
#footer .footer_inner .footerInfo > p {
	display: flex;
	justify-content: center;
}
#footer .footer_inner .footerInfo > p > span{
	margin-left: 5px;
	color: var(--footerSelectText);
}
#footer .footer_inner .footerInfo > p .licensee{
	text-decoration: underline;
	text-underline-offset: 3px;
}
#footer .footer_inner .footerInfo > p > span a{
	color: var(--footerSelectText);
}
#footer .footer_inner .footerInfo > p > span:nth-child(1){
	margin-left: 0;
}
#footer .footer_inner .footerInfo .footerLogo {
	font-size: 0;
	display: flex;
	justify-content: center;
	margin-top: 28px;
}
#footer .footer_inner .footerInfo .footerLogo a{
	font-size: 0;
	display: block;
	width: 91px;
	height: 27px;
	background-image: var(--footerLogo);
}
