/* 속성 선언 순서 */
/*
{
Positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
Box-model
    display: block;
    float: right;
    flex: 1;
    width: 100px;
    height: 100px;
Typography
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;
Background
    background-color: #f5f5f5;
Border
    border: 1px solid #e5e5e5;
    border-radius: 3px;
etc
    opacity: 1;
}
*/

/* 속성 갯수에 따른 정렬 */
/* 속성이 1개일경우 */
/* { position: absolute; } */
/* 속성이 여러개일 경우 */
/* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
} */

header {
    position: relative;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    font: 12px malgun gothic, "sans serif";
    line-height: 1;
    background-color: #fff;
    border-bottom: 1px solid #dde1e5;
}

/* 공통 아이콘 스타일 */
.menu-icon,
.user-menu-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    zoom: 1;
    transition: all .15s linear;
}
header a {
    text-decoration: none;
    transition: all .15s linear;
}
/* 공통 아이콘 hover 스타일 */
.menu-icon--hovered,
.user-menu-icon--hovered { transition: all .2s linear; }

header a .menu-icon,
header a .user-menu-icon { transition: all .15s linear; }

/* Block : 메뉴 토글 */
.menu-toggle .menu-toggle__btn {
    display: flex;
    padding: 2px 0px 0 23px;
    font: 16px NEXON Gothic;
    color: #17191d;
    text-decoration: none;
    border-radius: 0;
    transition: all .15s linear;
}
.menu-toggle .menu-toggle__btn--hovered { color: #07f; }
.menu-toggle .menu-toggle__btn .menu-icon {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin: 1px 11px 0 0;
    zoom: 1;
    background: transparent url(https://rs.nxfs.nexon.com/gnb/images/set_gnb.png) 0 0 no-repeat;
    background-color: #17191d;
    transition: all .15s linear;
}
.menu-toggle .menu-toggle__btn--hovered .menu-icon {
    background-color: #07f;
    transition: all .2s linear;
}
.menu-toggle .menu-toggle__btn .text {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font: inherit;
    letter-spacing: normal;
    border: 0;
    border-radius: 0;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

/* Block : 넥슨 로고 */
.nexon-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

/* Block : 유저 인증 관련, 결제, pc방 서비스 리스트 */
.user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-right: 11px;
    gap: 8px;
    list-style: none;
}
.user-menu__item { padding-top: 2px; }

/* Blocks : 넥슨 현대카드, 넥슨 피시방 찾기, 회원가입, 로그인 */
.nexon-hyundai-card,
.search-pcbang,
.join,
.login {
    position: relative;
    z-index: 10;
    display: block;
    font: 14px NEXON Gothic;
    color: #17191d;
}
.hidden-name {
    position: absolute;
    top: 22px;
    left: -29px;
    box-sizing: border-box;
    width: 78px;
    height: 18px;
    padding: 1px 6px 0px;
    font-family: "malgun gothic";
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.28px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    background-color: rgb(27, 31, 36);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
}
.hidden-name--hovered {
    opacity: 1;
    visibility: visible;
}
.user-menu-icon { 
    width: 22px; 
    height: 22px; 
}

/* Block : 넥슨 현대카드 */
.nexon-hyundai-card { margin: 3px 5px 0 6px; }
.nexon-hyundai-card .user-menu-icon { background: #191919 url(https://rs.nxfs.nexon.com/gnb/images/set_gnb_icon.png) 0 0 no-repeat; }
.nexon-hyundai-card--hovered .user-menu-icon { background-color: #07f; }
.nexon-hyundai-card .badge {
    position: absolute;
    top: -2px;
    left: 12px;
    box-sizing: border-box;
    display: block;
    min-width: 14px;
    height: 14px;
    padding: 0 3px 0 4px;
    white-space: nowrap;
    font: 10px malgun gothic;
    color: #fff;
    text-align: center;
    background-color: #07f;
    border-radius: 7px;
}

/* Block : 넥슨 피시방 찾기 */
.search-pcbang { margin: 3px 5px 0 6px; }
.search-pcbang .user-menu-icon { background: transparent url(https://rs.nxfs.nexon.com/gnb/images/ic-pcbang2-location.svg) 0 0 no-repeat; }
.search-pcbang--hovered .user-menu-icon {
    background: transparent url(https://rs.nxfs.nexon.com/gnb/images/ic-pcbang2-location-hover.svg) 0 0 no-repeat;
    transition: all .2s linear;
}

/* Block : 넥슨 회원가입 */
.join .name {
    margin: 0 3px 0;
    transition: all .15s linear;
}
.join--hovered .name { color: #07f; }

/* Block : 넥슨 로그인 */
.login { margin: -3px 8px 0 0; }
.login .name {
    min-width: 85px;
    height: 36px;
    margin-right: 9px;
    padding: 7px 18px;
    font: 15px NEXON Gothic Bold;
    color: #080410;
    text-align: center;
    border: 2px solid #17191d;
    border-radius: 19px;
    transition: all .15s linear;
}
.login--hovered .name {
    color: #fff;
    background-color: #07f;
    border-color: #07f;
}

/* Block : 메인 네비게이션 */
.main-nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100000;
    height: var(--gnbHeight);
    font-family: "PretendardVariable", "Malgun Gothic", sans-serif;
    letter-spacing: normal;
}
.main-nav--sticky {
    z-index: 1;
    background-color: var(--gnbFixedTopBg);
}
.main-nav--sticky .main-nav__btn-wrap { gap: 20px; }
.main-nav--sticky .btn-login-nav-sticky { width: 114px; }
.main-nav--hovered {
    z-index: 1;
    background-color: var(--gnbFixedTopBg);
}
.main-nav--hovered::after { height: 100%; }
.main-nav--hovered .main-nav__outer::before { opacity: 1; }
.main-nav--hovered .main-nav__outer::after { height: 100%; }
.main-nav--hovered .main-nav__inner { height: 100%; }
.main-nav--hovered .main-nav__categories { height: 100%; }
.main-nav--hovered .categories { height: 100%; }
.main-nav--hovered .categories__menu { color: #fff; }

/* Blocks : 메인, 메인 네비게이션 배경 */
.main-nav__outer {
    position: absolute;
    z-index: 10000000;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    min-height: var(--gnbHeight);
}
.main-nav__outer::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: var(--gnbHeight);
    content: '';
    background-color: var(--gnbFixedTopBg);
    opacity: 0;
    transition: opacity .1s;
}
.main-nav__outer::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: '';
    background-color: var(--gnbFixedBg);
    transition: height .1s;
}

/* Blocks : 메인, 메인 네비게이션 내부 */
.main-nav__inner,
main {
    max-width: var(--main-max-width);
    margin: 0 var(--main-margin-x);
}

/* Block : 메인 네비게이션 내부 */
.main-nav__inner {
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
    gap: 19px;
}
.main-nav__logo {
    position: absolute;
    left: 0;
}
.main-nav__categories { margin-top: 7px; }
.main-nav__btn-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: var(--gnbHeight);
    gap: 0px;
}

/* Block : 카테고리 */
.categories {
    display: flex;
    height: 44px;
    overflow: hidden;
    transition: height .1s;
}
.categories__item { position: relative; }
.categories__menu {
    display: block;
    padding: 10px 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--gnbColor);
    text-align: center;
    transition: color 0.1s;
}
.categories a > span { position: relative; }
.categories a span::before {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 0px;
    content: '';
    border-bottom: 1px solid #E1E4FF;
    transition: width .2s var(--gnbEaseing);
}
.categories a:hover > span::before { width: 100%; }
.categories__item.new .categories__menu > span::after {
    position: absolute;
    top: 0;
    right: -7px;
    display: inline-block;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #FF7A1A;
    border-radius: 50%;
}
.categories__menu > span::before {
    bottom: -2px;
    border-bottom: 2px solid #E1E4FF;
}
.categories__item.new > .categories__menu > span::after {
    right: -10px;
    width: 8px;
    height: 8px;
}
.categories__dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 46px 0 26px;
    gap: 7px;
}
.categories__submenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    gap: 3px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    color: #E1E4FF;
    text-align: center;
}
.categories__submenu[target="_blank"]::after {
    display: block;
    height: 18px;
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.7587 17H10.2413C11.0463 17 11.7106 17 12.2518 16.9558C12.8139 16.9099 13.3306 16.8113 13.816 16.564C14.5686 16.1805 15.1805 15.5686 15.564 14.816C15.8113 14.3306 15.9099 13.8139 15.9558 13.2518C16 12.7106 16 13.0463 16 12.2413V11C16 10.4477 15.5523 10 15 10C14.4477 10 14 10.4477 14 11V12.2C14 13.0566 13.9992 12.6389 13.9624 13.089C13.9266 13.5274 13.8617 13.7516 13.782 13.908C13.5903 14.2843 13.2843 14.5903 12.908 14.782C12.7516 14.8617 12.5274 14.9266 12.089 14.9625C11.6389 14.9992 11.0566 15 10.2 15H6.8C5.94342 15 5.36113 14.9992 4.91104 14.9625C4.47262 14.9266 4.24842 14.8617 4.09202 14.782C3.7157 14.5903 3.40973 14.2843 3.21799 13.908C3.1383 13.7516 3.07337 13.5274 3.03755 13.089C3.00078 12.6389 3 12.0566 3 11.2V7.8C3 6.94342 3.00078 6.36113 3.03755 5.91104C3.07337 5.47262 3.1383 5.24842 3.21799 5.09202C3.40973 4.7157 3.7157 4.40974 4.09202 4.21799C4.24842 4.1383 4.47262 4.07337 4.91104 4.03755C5.36113 4.00078 4.94342 4 5.8 4H7C7.55229 4 8 3.55229 8 3C8 2.44772 7.55229 2 7 2H5.75873C4.95374 1.99999 5.28938 1.99998 4.74817 2.04419C4.18608 2.09012 3.66937 2.18868 3.18404 2.43598C2.43139 2.81947 1.81947 3.43139 1.43597 4.18404C1.18868 4.66937 1.09012 5.18608 1.04419 5.74818C0.999977 6.28937 0.999988 6.95373 1 7.7587V11.2413C0.999988 12.0463 0.999977 12.7106 1.04419 13.2518C1.09012 13.8139 1.18868 14.3306 1.43597 14.816C1.81947 15.5686 2.43139 16.1805 3.18404 16.564C3.66937 16.8113 4.18608 16.9099 4.74817 16.9558C5.28937 17 5.95373 17 6.7587 17Z' fill='%23E1E4FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7071 3.2929C15.0976 3.68342 15.0976 4.31659 14.7071 4.70711L8.20711 11.2071C7.81658 11.5976 7.18342 11.5976 6.79289 11.2071C6.40237 10.8166 6.40237 10.1834 6.79289 9.7929L13.2929 3.2929C13.6834 2.90237 14.3166 2.90237 14.7071 3.2929Z' fill='%23E1E4FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3C10 2.44772 10.4477 2 11 2H15C15.5523 2 16 2.44772 16 3V7C16 7.55229 15.5523 8 15 8C14.4477 8 14 7.55229 14 7V4H11C10.4477 4 10 3.55229 10 3Z' fill='%23E1E4FF'/%3E%3C/svg%3E");
    opacity: .3;
    transition: opacity .01s ease .2s;
}

/* Block : 네비게이션 버튼 모음 */
.main-nav__btn-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: var(--gnbHeight);
}

/* Block : 다크모드 버튼*/
.dark-mode {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 3px;
    background-color: var(--darkOnOffBg);
    border-radius: 14px;
    cursor: pointer;
    transition: background var(--gnbAnimSpeed) ease;
}
.dark-mode__on,
.dark-mode__off {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: background var(--gnbAnimSpeed) ease;
}
.dark-mode__on { background-color: var(--btnDark); }
.dark-mode__off { background-color: var(--btnLight); }
.dark-mode__on svg {
    fill: #BBBECD;
    transition: fill var(--gnbAnimSpeed) ease;
}
.dark-mode__off svg {
    fill: #BBBECD;
    transition: fill var(--gnbAnimSpeed) ease;
}
.dark-mode--hovered .dark-mode__on svg { fill: #46474E; }
.dark-mode--hovered .dark-mode__off svg { fill: #FFF; }
.dark-mode__on--active svg { fill: var(--darkOnOffBg); }
.dark-mode__off--active svg { fill: #DEE1F9; }
.dark-mode__off--active { background-color: var(--btnLight); }

/* Block : 네비게이션 sticky시 나오는 로그인 버튼 */
.btn-login-nav-sticky {
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width var(--gnbAnimSpeed) cubic-bezier(0.85, 0, 0.15, 1);
}
.btn-login-nav-sticky__game-start {
    display: block;
    width: 114px;
    height: 100%;
    font-size: 0;
    background-image: url(https://lwi.nexon.com/maplestory/common/gnb_btn_gameStart_sm.png);
}

/* Block : 배너 */
.banner__outer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.banner__inner {
    position: relative;
    width: 100%;
    max-width: 1696px;
    height: 324px;
    overflow: hidden;
}